@import "tailwindcss";

@theme {
  /* No v4, novos utilitários de cores ou extensões entram aqui de forma nativa */
  --color-slate-750: #1e293b; 
}

body {
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc;
  font-family: sans-serif;
}